<ion-view ng-controller="homeCtrl" title="home">
    <ion-content>
		<h1 style="text-align:center;font-family: 'PT Sans', sans-serif;"><strong>Welcome!</strong></h1>
	    <div class="center-wrapper">
	        
	        <button class="button button-positive button-block padding" ng-click="changeView('loginPage')">
	        	Login
	        </button>
	        <button class="button button-calm button-block padding" ng-click="changeView('registerPage')">
	        	Register
	        </button>
	    </div>
	</ion-content>
</ion-view>
