<view title="'iPic'" class="pollbg" on-swipe-right="onSwipeRight()">
    <div data-role="header">
         <h1>Create a new Group</h1>
    </div>
    <div data-role="content" id="makeGroupsContent" style="height:100vh">
        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="groupTitle"> Group Title </label>
            <input type="text" name="groupTitle" id="groupTitle" value="" placeholder="Group Title"/>
        </div>
        <div id = "makeGroupsframe"></div>
        <a id="addToGroup" data-role="button" onclick="addToGroup()"> Add to Group</a>
    </div>
</view>