<view title="'iPic'" class="pollbg" on-swipe-right="onSwipeRight()">

    <div data-role="content" id="settingsContent" style="height:100vh">
        <h1 style="text-align:center">Settings</h1>
    <div class="center-wrapper">
        <button class="button button-positive button-block" ng-click="goToListFriendsPage()" >My Friends</button>
        <button class="button button-positive button-block" ng-click="goToSearchPage()">Add New Friends</button>
        <button class="button button-positive button-block" ng-click="goToInstaPage()">Notifications</button>
        <button class="button button-positive button-block" ng-click="goToMakeGroupsPage()">Make Groups</button>
        <button class="button button-positive button-block" ng-click="logout()">Log Out</button>
    </div>
    </div>
</view>